*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}

.heading-text{
    margin-top: 24px;
    font-size: 18px;
    font-family:  "Roboto";
    font-weight: 400;
}
.guess-input{
    margin-top: 10px;
    height: 24px;
    width: 200px;
    border: 2px solid #8b8989;
}
.btn-div{
    margin-top: 16px;
}
.submit-btn{
    height: 32px;
    width: 60px;
    background-color: blue;
    color: white;
    border: 1px solid #8b8989 ;
    border-radius: 2px;
    cursor: pointer;
}
.submit-btn:disabled{
    cursor: not-allowed;
    background-color: #5f8ced;
}

.startGame-btn{
    height: 32px;
    width: 96px;
    background-color: green;
    color: white;
    border: 1px solid #8b8989 ;
    border-radius: 2px; 
    cursor: pointer;
    
    
}
.startGame-btn:disabled{
    cursor: not-allowed;
}